.jumbotron {
	text-align: center;
	margin-bottom: 1%;
}



#section-search {
	background: black;	
}

#section-search form {
	margin-bottom: 2%;
}

#riddle {
	outline: 1px;
}

#input-group {
	padding-left: 20px;
}


button, input[type="submit"] {
	padding: 10px;
	background: darkblue;
	border-width: 0px;
	color: white;
}

#section-search li {
	margin-bottom: 40px;
	list-style: none;
}
